<h1> Add Course </h1>
<form>
  <div class="form-row"></div>
  <div class="form-group col-md-6">
    <label>Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Title">
  </div>
  <div class="form-group col-md-6">
    <label>Date</label>
    <input type="text" class="form-control" id="inputDate" placeholder="Date">
  </div>
  </div>
  <div class="form-group">
    <label>Location</label>
    <select id="inputLocation" class="form-control">
      <option selected>Belfast</option>
      <option>Derry</option>
      <option>Dublin</option>
      <option>London</option>
      <option>Gdansk</option>
      <option>Amsterdam</option>
      <option>Boston</option>
      <option>Frankfurt</option>
    </select>
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" id="inputDescription" placeholder="Description" rows="3">
    </textarea>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Trainer's</label>
      <input type="text" class="form-control" id="inputTrainer">
    </div>
    <div class="form-group col-md-4">
      <label>Attendee Info</label>
      <textarea class="form-control" id="inputAttendeeInfo" placeholder="Attendee Info" rows="3"></textarea>
    </div>
    <div class="form-group col-md-2">
      <label>Max Attendee's</label>
      <input type="text" class="form-control" id="inputMaxAttendee">
    </div>
  </div>

</form>
