<!-- Top container -->
<div class="w3-bar w3-top w3-large" style="z-index:4; background-color: #007bff; color: white">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
      class="fa fa-bars"></i> Menu</button>
  <span class="w3-bar-item w3-left">Kainos MAP</span>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
  title="close side menu" id="myOverlay"></div>


<!-- !PAGE CONTENT! -->
<div class="w3-main">
  <!-- Header -->
  <header style="padding-top:8em; padding-left: 4em; padding-right: 4em;">
    <app-addcourse *ngIf="showAddCourse"></app-addcourse>
    <br>
    <br>
    <button (click)="addCourse()" class="btn btn-primary">Add New Course</button>
    <br>
    <br>
    <table style="width:100%">
      <tr style="background-color: #007bff; color: white">
        <th>Course Title</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let course of courses|async">
        <td>{{course.title}}</td>
        <td>{{course.date | date}}</td>
        <td>{{course.location}}</td>
        <td>{{course.description}}</td>
      </tr>
    </table>
    <br>
    <br>




  </header>

</div>
